@charset "UTF-8";
/* fonts components */
@font-face {
  font-family: "InterLight";
  src: url(font/inter/Inter-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "DelaGothicOne";
  src: url(font/DelaGothicOne-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* end fonts components */
/* general styles*/
h1, h2, h3 {
  font-family: "DelaGothicOne";
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  color: white;
  max-width: 715px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 70%;
  cursor: pointer;
}

body {
  padding: 0em 5em 0em 5em;
  font-family: "InterLight";
  font-size: 16px;
  font-weight: 300;
}

input[type=button] {
  background-color: #DA1F39;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: "InterLight";
  font-size: 14px;
  letter-spacing: 0.07em;
  height: 50px;
  width: 225px;
  cursor: pointer;
}

input[type=button]:hover {
  border: 1px solid #DA1F39;
  color: #DA1F39;
  background-color: white;
  transition: all 0.2s ease-in;
}

/*drop-down button styles*/
.filter-block__button {
  background-color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: "InterLight";
  font-weight: 600;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}
.filter-block__button::after {
  content: "";
  background-image: url(src/images/general/icons/Vector\ 10.png);
  display: block;
  width: 8px;
  height: 4px;
  margin-left: 5px;
}

.filter-block__button--hide {
  background-color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: "InterLight";
  font-weight: 600;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}
.filter-block__button--hide::after {
  content: "";
  background-image: url(src/images/general/icons/Vector\ 10.png);
  display: block;
  width: 8px;
  height: 4px;
  margin-left: 5px;
  transform: rotate(180deg);
}

/*end drop-down button styles*/
/* end general styles*/
/* laptop-header styles*/
.laptop-header {
  margin: 1.6em 0em 1.6em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.laptop-header .laptop-header-menu {
  display: flex;
}
.laptop-header .laptop-header-menu__nav, .laptop-header .laptop-header-menu__nav_red {
  padding-right: 1.875em;
}
.laptop-header .laptop-header-menu__nav_red {
  color: #DA1F39;
  font-weight: bold;
}
.laptop-header .logo__image {
  max-width: 11.5em;
}
.laptop-header .laptop-header-additional {
  display: flex;
  align-items: center;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value, .laptop-header .laptop-header-additional__number, .laptop-header .laptop-header-additional__icon-searching {
  margin-right: 1.25em;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value {
  font-family: "InterLight";
  font-size: 16px;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  padding-right: 0.3125em;
}
.laptop-header .laptop-header-additional__language:hover, .laptop-header .laptop-header-additional__value:hover {
  opacity: 70%;
  cursor: pointer;
}
.laptop-header .laptop-header-additional img {
  max-width: 25px;
}

/* end laptop-header styles*/
/* main-screen styles */
.main-screen {
  position: relative;
}
.main-screen-background {
  background: url(src/images/general/DSC_8575\ 1.jpg);
  background-size: cover;
  height: 47em;
  display: flex;
  align-items: center;
}
.main-screen .main-screen-block {
  margin-left: 5.5em;
}
.main-screen .main-screen-block-information__paragraph {
  color: white;
  margin-top: 0.625em;
}
.main-screen .main-screen-block--button {
  margin-top: 3.125em;
}
.main-screen__scroll {
  position: absolute;
  right: 50%;
  bottom: -43px;
  height: 63px;
  width: 57px;
}

/* end main-screen styles */
/* banner-first styles */
.banner {
  padding-top: 8.125em;
  padding-bottom: 8.125em;
}
.banner .banner-text {
  position: relative;
  width: 53em;
  margin: auto;
}
.banner .banner-text .banner-image {
  position: relative;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
}
.banner .banner-text .banner-image img {
  height: 260px;
  width: 209px;
}
.banner .banner-text .banner-image-right {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-content: end;
}
.banner .banner-text .banner-text-block {
  position: absolute;
  top: 38%;
  z-index: 1;
  text-align: center;
}
.banner .banner-text .banner-text-block__header--white {
  color: white;
}

/* end banner-first styles */
/* slider styles */
.slider-general {
  margin-bottom: 128px;
}
.slider-general-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
.slider-general-top__arrow {
  display: flex;
}
.slider-general-top__arrow--left {
  padding-right: 1.25em;
}
.slider-general-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-right: -5em;
}
.slider-general-block-card {
  max-width: 19.8em;
  padding-right: 3.125em;
}
.slider-general-block-card :hover {
  cursor: pointer;
}
.slider-general-block-card-fit {
  width: 19.8em;
  height: 25em;
  background-image: url(src/images/general/фон.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-general-block-card-fit__image {
  width: 19.8em;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.slider-general-block-card-fit__image:hover {
  width: 15.8em;
  height: 21em;
}
.slider-general-block-card-description {
  padding-top: 0.625em;
}
.slider-general-block-card-description__paragraph {
  font-size: 14px;
}
.slider-general-block-card-price {
  padding-top: 0.625em;
}
.slider-general-block-card-price span {
  font-weight: 700;
}

/* end block_slider section styles */
/* fourth_screen section styles */
.fourth_screen .background {
  background: url(src/images/general/Rectangle\ 49\ \(1\).png);
  background-size: cover;
}
.fourth_screen .background .main_block {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: 47em;
}
.fourth_screen .background .main_block .text_part {
  margin-top: 50px;
  margin-left: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourth_screen .background .main_block .text_part .name_company {
  text-transform: uppercase;
  color: #939694;
}
.fourth_screen .background .main_block .text_part h2, .fourth_screen .background .main_block .text_part p {
  text-align: center;
}
.fourth_screen .background .main_block .text_part h2 {
  padding-bottom: 1.25em;
}
.fourth_screen .background .main_block .text_part p {
  padding-bottom: 3.125em;
  line-height: 1.875em;
  max-width: 26.19em;
}
.fourth_screen .background .main_block .image_part {
  width: 100%;
  background: url(src/images/general/image\ 22.png);
  background-size: cover;
}

/* end fourth_screen section styles */
/* footer styles */
footer {
  background-color: #F4F4F4;
  margin-top: 130px;
  position: relative;
  margin: 5em -5em 0em -5em;
}
footer .main_information {
  padding: 4.375em 5em 4.375em 5em;
}
footer .main_information .logo_footer {
  display: flex;
  justify-content: center;
}
footer .main_information .logo_footer .etnodim_logo_footer {
  padding-bottom: 40px;
  max-width: 184px;
}
footer .main_information .bottom_information_footer {
  display: grid;
  grid-template-columns: 40% 35% 25%;
}
footer .main_information .bottom_information_footer .footer_menu {
  display: grid;
}
footer .main_information .bottom_information_footer .header {
  text-decoration: underline;
}
footer .main_information .bottom_information_footer .drabyna, footer .main_information .bottom_information_footer .manifest {
  padding-top: 30px;
}
footer .main_information .bottom_information_footer .footer_menu {
  grid-template-columns: 30% 50%;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer {
  display: grid;
  gap: 10px;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .manifest, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .manifest {
  color: #DA1F39;
  font-weight: 700;
}
footer .main_information .bottom_information_footer .contacts_footer {
  display: flex;
  flex-direction: column;
}
footer .main_information .bottom_information_footer .contacts_footer span {
  padding-bottom: 10px;
}
footer .main_information .bottom_information_footer .contacts_footer .grafic .pn_pt {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 70px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking svg {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .rights {
  padding-top: 100px;
}
footer .arrow_up {
  position: absolute;
  right: 50%;
  top: -28px;
}

/* end footer styles */
/* catalog styles */
/* catalog-woman-embroidery styles */
.catalog-navigation {
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
}
.catalog-navigation__text {
  display: flex;
  align-items: center;
}
.catalog-navigation__text::after {
  content: "";
  display: block;
  background-color: black;
  width: 1.9em;
  height: 0.043em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.catalog-navigation__text--current {
  font-weight: 300;
}

.catalog-main-block {
  display: grid;
  grid-template-columns: 20% 80%;
}
.catalog-main-block .filter {
  font-size: 14px;
}
.catalog-main-block .filter-block {
  padding-bottom: 1.25em;
}
.catalog-main-block .filter-block-list {
  padding-top: 0.3em;
  display: block;
}
.catalog-main-block .filter-block-list-option {
  display: flex;
  align-items: center;
  padding-bottom: 0.3em;
}
.catalog-main-block .filter-block-list-option__checkbox {
  margin-left: 0px;
  padding-right: 0.3em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.81em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting {
  display: flex;
  align-items: center;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four {
  display: grid;
  grid-template-columns: 6px 6px;
  grid-template-rows: 6px 6px;
  gap: 2px;
  margin-right: 10px;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four__square {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #565656;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine:hover, .catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four:hover {
  opacity: 70%;
  cursor: pointer;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine {
  display: grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  gap: 1px;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine__square {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #939694;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for {
  margin-left: 13px;
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 300;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for__option {
  border: none;
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 300;
  padding-right: 0.3125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for__option:hover {
  opacity: 70%;
  cursor: pointer;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card {
  width: 48%;
  height: 660px;
  padding-bottom: 3.125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card a:hover {
  opacity: 100%;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content {
  width: 100%;
  height: 607px;
  background-image: url(src/images/general/pexels-morgan-victoria-5304966\ 2.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content__image:hover {
  width: 80%;
  height: 80%;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text {
  padding-top: 0.625em;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 300;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text__name {
  padding-bottom: 0.3125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text__price {
  font-weight: 700;
}
.catalog-main-block .catalog-general .catalog-buttom {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 600;
}
.catalog-main-block .catalog-general .catalog-buttom-more__button {
  display: inline-flex;
  align-items: center;
}
.catalog-main-block .catalog-general .catalog-buttom-more__button--text {
  text-decoration: underline;
  padding-right: 0.5em;
  text-transform: uppercase;
}
.catalog-main-block .catalog-general .catalog-buttom-next {
  display: flex;
}

/* end catalog-woman-embroidery styles */
/* card-product styles */
.product-card-general {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 14px;
}
.product-card-general-images {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: -5.8em;
  display: flex;
  flex-wrap: wrap;
}
.product-card-general-images-main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.product-card-general-images-main__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50em;
  padding-bottom: 3%;
  cursor: pointer;
}
.product-card-general-images-main__photo:hover {
  outline: white solid 10px;
}
.product-card-general-images-additional {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-card-general-images-additional__photo {
  width: 48%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 25.94em;
  padding-bottom: 3%;
}
.product-card-general-main {
  padding-right: 5.5em;
}
.product-card-general-main-info__namecompany {
  text-transform: uppercase;
  color: #939694;
}
.product-card-general-main-additional {
  padding-top: 2.5em;
}
.product-card-general-main-additional-one-color {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}
.product-card-general-main-additional-one-amount {
  padding-left: 2.94em;
}
.product-card-general-main-additional-one-amount__button--decrease, .product-card-general-main-additional-one-amount__button--increase {
  font-weight: 400;
  font-size: 16px;
  width: 1.3125em;
  height: 1.3125em;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  background-color: #F4F4F4;
}
.product-card-general-main-additional-one-amount__button--decrease:hover, .product-card-general-main-additional-one-amount__button--increase:hover {
  background-color: white;
  outline: #F4F4F4 solid 1px;
}
.product-card-general-main-additional-one-amount__text {
  padding-left: 0.625em;
  padding-right: 0.625em;
}
.product-card-general-main-additional-one-size-info-option__text, .product-card-general-main-additional-one-size-info-option__text--checked {
  background-color: white;
  border: none;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin-right: 1.2em;
  cursor: pointer;
}
.product-card-general-main-additional-one-size-info-option__text:hover, .product-card-general-main-additional-one-size-info-option__text--checked:hover {
  font-weight: 600;
}
.product-card-general-main-additional-one-size-info-option__text--checked, .product-card-general-main-additional-one-size-info-option__text--checked--checked {
  font-weight: 600;
  cursor: default;
}
.product-card-general-main-additional-one-size-info-table {
  text-decoration: underline;
  cursor: pointer;
  padding-top: 0.8em;
}
.product-card-general-main-additional-one-price {
  padding-top: 2.5em;
  padding-bottom: 0.625em;
  font-size: 16px;
  font-weight: 600;
}
.product-card-general-main-additional-info {
  padding-top: 4.375em;
}
.product-card-general-main-additional-info-about__heading {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.product-card-general-main-additional-info-about__heading::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(src/images/general/icons/bx_bx-minus.png);
}
.product-card-general-main-additional-info-about__heading--hide {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.product-card-general-main-additional-info-about__heading--hide::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(src/images/general/icons/ant-design_plus-outlined.png);
}
.product-card-general-main-additional-info-about__text, .product-card-general-main-additional-info-about__line {
  margin-top: 1em;
}

/* end card-product styles */
/* end styles */
/* responsive*/
@media screen and (min-width: 1990px) {
  .laptop_mobile {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */