$icon_size_width: 25px;
$hover: 70%;
$main_color: #DA1F39;
$additional_color: #939694;
$additional_color_two: #F4F4F4;
$additional_color_three: #565656;
$main_font:"InterLight";
$main_font_size: 16px;
$paragraph_font_size: 14px;

$main_font_weight: 300;
$header_font:"DelaGothicOne";
$transition: all 0.2s ease-in;

@mixin font($font, $font_size, $font_weight){
    font-family: $font;
    font-size: $font_size;
    font-weight: $font_weight;
}

@mixin hover($opacity, $pointer){
    opacity: $hover;
    cursor: pointer;
}

/* fonts components */
@font-face {
    font-family: "InterLight";
    src: url(font/inter/Inter-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "DelaGothicOne";
    src: url(font/DelaGothicOne-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
/* end fonts components */

/* general styles*/
h1, h2, h3{
    font-family: $header_font;
    text-transform: uppercase;
}
h1{
    font-size: 64px;
    color: white;
    max-width: 715px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 18px;
}
h5{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
    &:hover{ 
        @include hover($hover, pointer);
    }
}
body {
  padding: 0em 5em 0em 5em;
  @include font($main_font, $main_font_size, $main_font_weight);
}

input[type=button]{
    background-color: $main_color;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: $main_font;
    font-size: 14px;
    letter-spacing: 0.07em;
    height: 50px;
    width: 225px;
    cursor: pointer;
}
input[type=button]:hover{
        border: 1px solid $main_color;
        color: $main_color;
        background-color: white;
        transition: $transition; 
}

/*drop-down button styles*/
.filter-block__button{
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-family: $main_font;
    font-weight: 600;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        background-image: url(src/images/general/icons/Vector\ 10.png);
        display: block;
        width: 8px;
        height: 4px;
        margin-left: 5px;
    }
}

.filter-block__button--hide{
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-family: $main_font;
    font-weight: 600;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        background-image: url(src/images/general/icons/Vector\ 10.png);
        display: block;
        width: 8px;
        height: 4px;
        margin-left: 5px;
        transform: rotate(180deg);
    }
}
/*end drop-down button styles*/

/* end general styles*/

/* laptop-header styles*/
.laptop-header{
    margin: 1.6em 0em 1.6em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .laptop-header-menu{
        display: flex;
        &__nav, &__nav_red{
            padding-right: 1.875em;
        }
        &__nav_red{
            color: $main_color;
            font-weight: bold;
        }
    }
    
    .logo__image{
        max-width: 11.5em;
    }
    
    .laptop-header-additional{
        display: flex;
        align-items: center;
        &__language, &__value, &__number, &__icon-searching{
            margin-right: 1.25em;
        }
        &__language, &__value{
            @include font($main_font, $main_font_size, $main_font_weight);
            border: none;
            text-transform: uppercase;
            padding-right: 0.3125em;
            &:hover{
                @include hover($hover, pointer);
            }
        }
        img{
            max-width: $icon_size_width;
        }
    }
}
/* end laptop-header styles*/

/* main-screen styles */
.main-screen{
    position: relative;
    &-background{
        background: url(src/images/general/DSC_8575\ 1.jpg);
        background-size: cover;
        height: 47em;
        display: flex;
        align-items: center;
    }
    .main-screen-block{
        margin-left: 5.5em;
        &-information{
            &__paragraph{
                color: white;
                margin-top: 0.625em;
            }
        }
        &--button{
            margin-top: 3.125em;
        }
    }
    &__scroll{
        position: absolute;
        right: 50%;
        bottom: -43px;
        height: 63px;
        width: 57px;
        }
    }
/* end main-screen styles */

/* banner-first styles */
.banner{
    padding-top: 8.125em;
    padding-bottom: 8.125em;
    .banner-text{
        position: relative;
        width: 53em;
        margin: auto;
        .banner-image{
            position: relative;
            display: grid;
            grid-template-rows: 25% 25% 25% 25%;
            grid-template-columns: 50% 50%;
                img{
                    height: 260px;
                    width: 209px;
                }
                &-right{
                    display: grid;
                    grid-column-start: 2;
                    grid-row-start: 3;
                    justify-content: end;
                }
            }
        .banner-text-block{
            position: absolute;
            top: 38%;
            z-index: 1;
            text-align: center;
            &__header{
                &--white{
                    color: white;
                }
            }
        }
    }
}
/* end banner-first styles */

/* slider styles */
.slider{
    &-general{
        margin-bottom: 128px;
        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.5em;
            &__arrow{
                display: flex;
                &--left{
                    padding-right: 1.25em;
                }
            }
        }
        &-block{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            flex-wrap: nowrap;
            margin-right: -5em;
            &-card{
                max-width: 19.8em;
                padding-right: 3.125em;
                :hover{
                    cursor: pointer;
                }
                &-fit{
                    width: 19.8em;
                    height: 25em;
                    background-image: url(src/images/general/фон.png);
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__image{
                        width: 19.8em;
                        height: 25em;
                        object-fit: cover;
                        transition: all .5s;
                        &:hover{
                            width: 15.8em;
                            height: 21em;
                        }
                    }
                }
                &-description{
                    padding-top: 0.625em;
                    &__paragraph{
                        font-size: 14px;
                    }
                }
                &-price{
                    padding-top: 0.625em;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
/* end block_slider section styles */

/* fourth_screen section styles */
.fourth_screen{
    .background{
        background: url(src/images/general/Rectangle\ 49\ \(1\).png);
        background-size: cover;
        .main_block{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            height: 47em;
            .text_part{
                margin-top: 50px;
                margin-left: 80px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .name_company{
                    text-transform: uppercase;
                    color: $additional_color;
                }
                h2, p{
                    text-align: center;
                }
                h2{
                    
                    padding-bottom: 1.25em;
                }
                p{
                    padding-bottom: 3.125em;
                    line-height: 1.875em;
                    max-width: 26.19em;
                }
            }
            .image_part{
                width: 100%;
                background: url(src/images/general/image\ 22.png);
                background-size: cover;
                }
            }
        }
    }

/* end fourth_screen section styles */

/* footer styles */
footer{
    background-color: $additional_color_two;
    margin-top: 130px;
    position: relative;
    margin: 5em -5em 0em -5em;
        .main_information{
        padding: 4.375em 5em 4.375em 5em;
        .logo_footer{
            display: flex;
            justify-content: center;
            .etnodim_logo_footer{
                padding-bottom: 40px;
                max-width: 184px;
            }
        }
        .bottom_information_footer{
            display: grid;
            grid-template-columns: 40% 35% 25%;
            .footer_menu{
                display: grid;
            }
            .header{
                text-decoration: underline;
            }
            .drabyna, .manifest{
                padding-top:  30px;
            }
            .footer_menu{
                grid-template-columns: 30% 50%;
                .left_menu_footer, .right_menu_footer{
                    display: grid;
                    gap: 10px;
                    .drabyna, .manifest{
                        color: $main_color;
                        font-weight: 700;
                    }
                }
            }
            .contacts_footer{
                display: flex;
                flex-direction: column;
                span{
                    padding-bottom: 10px;
                }
                .grafic{
                    .pn_pt{
                        padding-right: 20px;
                    }
                }
            }
            .social_networking{
                .icon_social_networking{
                    display: flex;
                    align-items: center;
                    padding-top: 10px;
                    padding-bottom: 70px;

                    svg{
                        padding-right: 20px;
                    }
                }
                .rights{
                    padding-top: 100px;
                }
            }
        }
    }
    .arrow_up{
        position: absolute;
        right: 50%;
        top: -28px;
    }
}
/* end footer styles */


/* catalog styles */

/* catalog-woman-embroidery styles */
.catalog-navigation{
    @include font($main_font, 12px, 600);
    padding-top: 10px;
    padding-bottom: 41px;
    display: flex;
    align-items: center;
        &__text{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                display: block;
                background-color: black;
                width: 1.9em;
                height: 0.043em;
                margin-right: 0.4em;
                margin-left: 0.4em;
            }
            &--current{
                font-weight: 300;
            }
        }
    }

    .catalog-main-block{
    display: grid;
    grid-template-columns: 20% 80%;
    .filter{
        font-size: 14px;
        &-block{
            padding-bottom: 1.25em;
            &-list{
                padding-top: 0.3em;
                display: block;
                &-option{
                    display: flex;
                    align-items: center;
                    padding-bottom: 0.3em;
                    &__checkbox{
                        margin-left: 0px;
                        padding-right: 0.3em;
                    }
                }
            }
        }
    }

    .catalog-general{
        .catalog-general-section{
            .catalog-upper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.81em;
                .sorting{
                    display: flex;
                    align-items: center;
                    &-four{
                        display: grid;
                        grid-template-columns: 6px 6px;
                        grid-template-rows: 6px 6px;
                        gap: 2px;
                        margin-right: 10px;
                        &__square{
                            content: '';
                            width: 6px;
                            height: 6px;
                            background-color: $additional_color_three;
                        }
                    }
                    &-nine, &-four{
                        &:hover{
                            @include hover($hover, pointer);
                        }
                        }
                    &-nine{
                        display: grid;
                        grid-template-columns: 4px 4px 4px;
                        grid-template-rows: 4px 4px 4px;
                        gap: 1px;
                        &__square{
                            content: '';
                            width: 4px;
                            height: 4px;
                            background-color: $additional_color;
                        }
                    }
                    &-for{
                        margin-left: 13px;
                        @include font($main_font, 12px, 300);
                        &__option{
                            border: none;
                            @include font($main_font, 12px, 300);
                            padding-right: 0.3125em;
                            &:hover{
                                @include hover($hover, pointer);
                            }
                        }
                    }
                }
            }
            .catalog-main{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-card{
                    width: 48%;
                    height: 660px;
                    padding-bottom: 3.125em;
                    a {
                        &:hover{
                            opacity: 100%;
                        }
                    }
                    &-content{
                        width: 100%;
                        height: 607px;
                        background-image: url(src/images/general/pexels-morgan-victoria-5304966\ 2.png);
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &__image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all .5s;
                            &:hover{
                                width: 80%;
                                height: 80%;
                            }
                        }
                    }
                    &-text{
                        padding-top: 0.625em;
                        @include font($main_font, 14px, 300);
                        &__name{
                            padding-bottom: 0.3125em;

                        }
                        &__price{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .catalog-buttom{
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            justify-items: center;
            @include font($main_font, 14px, 600);
            &-more{
                &__button{
                    display: inline-flex;
                    align-items: center;
                    &--text{
                        text-decoration: underline;
                        padding-right: 0.5em;
                        text-transform: uppercase;
                    }
                }
            }
            &-next{
                display: flex;

            }
        }
    }
}
/* end catalog-woman-embroidery styles */


/* card-product styles */
.product-card{
    &-general{
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: $paragraph_font_size;
        &-images{
            width: 100%;
            height: fit-content;
            margin-left: -5.8em;
            display: flex;
            flex-wrap: wrap;
            &-main{
                width: 100%;
                height: fit-content;
                &__photo{
                    width: 100%;
                    object-fit: cover;
                    height: 50em;
                    padding-bottom: 3%;
                    cursor: pointer;
                    &:hover{
                        outline: white solid 10px;
                    }
                }
            }
            &-additional{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &__photo{
                    width: 48%;
                    object-fit: cover;
                    height: 25.94em;
                    padding-bottom: 3%;
                }
            }
        }
        &-main{
            padding-right: 5.5em;
            &-info{
                &__namecompany{
                    text-transform: uppercase;
                    color: $additional_color;
                }
            }
            &-additional{
                padding-top: 2.5em;
                &-one{
                    &-color{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.25em;
                    }
                    &-amount{
                        padding-left: 2.94em;
                        &__button--decrease, &__button--increase{
                            font-weight: 400;
                            font-size: $main_font_size;
                            width: 1.3125em;
                            height: 1.3125em;
                            border: none;
                            border-radius: 0%;
                            cursor: pointer;
                            background-color: $additional_color_two;
                            &:hover{
                                background-color: white;
                                outline: $additional_color_two solid 1px;
                            }
                        }
                        &__text{
                            padding-left: 0.625em;
                            padding-right: 0.625em;
                        }
                    }
                    &-size{
                        &-info{
                            &-option{
                                &__text, &__text--checked{
                                    background-color: white;
                                    border: none;
                                    @include font($main_font, $paragraph_font_size, $main_font_weight);
                                    padding: 0px;
                                    margin-right: 1.2em;
                                    cursor: pointer;
                                    &:hover{
                                        font-weight: 600;
                                    }
                                    &--checked{
                                        font-weight: 600;
                                        cursor: default;
                                    }
                                }
                            }
                            &-table{
                                text-decoration: underline;
                                cursor: pointer;
                                padding-top: 0.8em;
                            }
                        }
                    }
                    &-price{
                        padding-top: 2.5em;
                        padding-bottom: 0.625em;
                        font-size: $main_font_size;
                        font-weight: 600;
                    }
                }
            }
            &-additional-info{
                padding-top: 4.375em;
                &-about{
                    &__heading{
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: $transition;
                        &::after{
                            content: '';
                            width: 1em;
                            height: 1em;
                            background-image: url(src/images/general/icons/bx_bx-minus.png);
                        }
                        &--hide{
                            font-size: 16px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;
                            transition: $transition;
                            &::after{
                                content: '';
                                width: 1em;
                                height: 1em;
                                background-image: url(src/images/general/icons/ant-design_plus-outlined.png);
                            }
                        }
                    }
                    &__text, &__line{
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}
/* end card-product styles */

/* basket styles */
.basket{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 2em;
        &-general{
            &-up{
                margin-bottom: 4.5625em;
                &-up{
                    display: flex;
                    margin-bottom: 3.75em;
                    &__image{
                        width: 142px;
                        height: 171px;
                        object-fit: cover;
                    }
                    &-info{
                        padding-left: 1.875em;
                        &__heading{
                            margin-bottom: 2.5em;
                        }
                        &-add{
                            font-size: $paragraph_font_size;
                            display: grid;
                            justify-items: start;
                            grid-template-columns: 30% 30%;
                            &__text{
                                margin-bottom: 0.625em;
                                &--bold{
                                    font-weight: 600;
                                    padding-left: 0.2em;
                                }
                                width: fit-content;
                            }
                            &-select{
                                border: none;
                                padding-left: 0px;
                                @include font($main_font, $paragraph_font_size, 600); 
                                
                            }
                        }
                    }
                }
                &-bottom{
                    width: 50%;
                    &__line{
                        margin: 0px;
                    }
                    &-price{
                        padding-top: 1.27em;
                        display: flex;
                        justify-content: space-between;
                        &__text{
                            &--red{
                                color: $main_color;
                            }
                        }
                    }
                }
                
            }
            &-bottom{
                font-size: $paragraph_font_size;
            }
            
        }
}
/* end basket styles */

/* end styles */

/* responsive*/
@media screen and (min-width:1990px){
    .laptop_mobile{
        display: none;
        }
    }
    

