@charset "UTF-8";
/* fonts components */
@font-face {
  font-family: "InterLight";
  src: url(font/inter/Inter-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "DelaGothicOne";
  src: url(font/DelaGothicOne-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* end fonts components */
/* general styles*/
h1, h2, h3 {
  font-family: "DelaGothicOne";
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  color: white;
  max-width: 715px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 70%;
  cursor: pointer;
}

body {
  padding: 0em 5em 0em 5em;
  font-family: "InterLight";
  font-size: 16px;
  font-weight: 300;
}

input[type=button] {
  padding: 1em 2em 1em 2em;
  background-color: #DA1F39;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: "InterLight";
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.07em;
  height: 50px;
  min-width: 225px;
  cursor: pointer;
}

input[type=button]:hover {
  border: 1px solid #DA1F39;
  color: #DA1F39;
  background-color: white;
  transition: all 0.2s ease-in;
}

.amount__button--decrease, .amount__button--increase {
  font-weight: 400;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  background-color: #F4F4F4;
}
.amount__button--decrease:hover, .amount__button--increase:hover {
  background-color: white;
  outline: #F4F4F4 solid 1px;
}
.amount__value {
  margin-left: 5px;
  margin-right: 5px;
  width: 1.3125em;
  border: none;
  text-align: center;
}
.amount__value:active {
  border: none;
}

/*drop-down button styles*/
.filter-block__button {
  background-color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: "InterLight";
  font-weight: 600;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}
.filter-block__button::after {
  content: "";
  width: 4px;
  height: 4px;
  border: solid black;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  margin-left: 5px;
}

.filter-block__button--hide {
  background-color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: "InterLight";
  font-weight: 600;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}
.filter-block__button--hide::after {
  content: "";
  width: 4px;
  height: 4px;
  border: solid black;
  border-width: 1px 0 0 1px;
  transform: rotate(45deg);
  margin-left: 5px;
  margin-top: 2px;
}

/*end drop-down button styles*/
/* end general styles*/
/* laptop-header styles*/
.mobile-header {
  display: none;
}

.laptop-header {
  margin: 1.6em 0em 1.6em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.laptop-header .laptop-header-menu {
  display: flex;
}
.laptop-header .laptop-header-menu__nav, .laptop-header .laptop-header-menu__nav_red {
  padding-right: 1.875em;
}
.laptop-header .laptop-header-menu__nav_red {
  color: #DA1F39;
  font-weight: bold;
}
.laptop-header .logo__image {
  max-width: 11.5em;
}
.laptop-header .laptop-header-additional {
  display: flex;
  align-items: center;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value, .laptop-header .laptop-header-additional__number, .laptop-header .laptop-header-additional__icon-searching {
  margin-right: 1.25em;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value {
  font-family: "InterLight";
  font-size: 16px;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  padding-right: 0.3125em;
}
.laptop-header .laptop-header-additional__language:hover, .laptop-header .laptop-header-additional__value:hover {
  opacity: 70%;
  cursor: pointer;
}
.laptop-header .laptop-header-additional img {
  max-width: 25px;
}

/* end laptop-header styles*/
/* main-screen styles */
.main-screen {
  position: relative;
}
.main-screen-background {
  background: url(src/images/general/DSC_8575\ 1.jpg);
  background-size: cover;
  height: 47em;
  display: flex;
  align-items: center;
}
.main-screen .main-screen-block {
  margin-left: 5.5em;
}
.main-screen .main-screen-block-information__paragraph {
  color: white;
  margin-top: 0.625em;
}
.main-screen .main-screen-block--button {
  margin-top: 3.125em;
}
.main-screen__scroll {
  position: absolute;
  right: 50%;
  bottom: -43px;
  height: 63px;
  width: 57px;
}

/* end main-screen styles */
/* banner-first styles */
.banner, .banner-1280 {
  padding-top: 8.125em;
  padding-bottom: 8.125em;
}

.banner-1280, .banner-970, .banner-768 {
  display: none;
}

.banner-text {
  position: relative;
  width: 53em;
  margin: auto;
}
.banner-text .banner-image {
  position: relative;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
}
.banner-text .banner-image img {
  height: 260px;
  width: 209px;
}
.banner-text .banner-image-right {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-content: end;
}
.banner-text .banner-text-block {
  position: absolute;
  top: 38%;
  z-index: 1;
  text-align: center;
}
.banner-text .banner-text-block__header--white {
  color: white;
}

/* end banner-first styles */
/* slider styles */
.mobile {
  display: none;
}

.slider-general {
  margin-bottom: 128px;
}
.slider-general-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
.slider-general-top__arrow {
  display: flex;
}
.slider-general-top__arrow--left {
  padding-right: 1.25em;
}
.slider-general-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-right: -5em;
}
.slider-general-block-card {
  max-width: 19.8em;
  padding-right: 3.125em;
}
.slider-general-block-card :hover {
  cursor: pointer;
}
.slider-general-block-card-fit {
  width: 19.8em;
  height: 25em;
  background-image: url(src/images/general/фон.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-general-block-card-fit__image {
  width: 19.8em;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.slider-general-block-card-fit__image:hover {
  width: 15.8em;
  height: 21em;
}
.slider-general-block-card-description {
  padding-top: 0.625em;
  min-height: 40px;
}
.slider-general-block-card-description__paragraph {
  font-size: 14px;
}
.slider-general-block-card-price {
  padding-top: 0.625em;
}
.slider-general-block-card-price span {
  font-weight: 700;
}

/* end block_slider section styles */
/* fourth screen section styles */
.fourth_screen .background {
  background: url(src/images/general/Rectangle\ 49\ \(1\).png);
  background-size: cover;
}
.fourth_screen .background .main_block {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: 47em;
}
.fourth_screen .background .main_block .text_part {
  margin-top: 50px;
  margin-left: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourth_screen .background .main_block .text_part .name_company {
  text-transform: uppercase;
  color: #939694;
}
.fourth_screen .background .main_block .text_part h2, .fourth_screen .background .main_block .text_part p {
  text-align: center;
}
.fourth_screen .background .main_block .text_part h2 {
  padding-bottom: 1.25em;
}
.fourth_screen .background .main_block .text_part p {
  padding-bottom: 3.125em;
  line-height: 1.875em;
  max-width: 26.19em;
}
.fourth_screen .background .main_block .image_part {
  width: 100%;
  background: url(src/images/general/image\ 22.png);
  background-size: cover;
}

/* end fourth screen section styles */
/* footer styles */
footer {
  background-color: #F4F4F4;
  margin-top: 130px;
  position: relative;
  margin: 5em -5em 0em -5em;
}
footer .main_information {
  padding: 4.375em 5em 4.375em 5em;
}
footer .main_information .logo_footer {
  display: flex;
  justify-content: center;
}
footer .main_information .logo_footer .etnodim_logo_footer {
  padding-bottom: 40px;
  max-width: 184px;
}
footer .main_information .bottom_information_footer {
  display: grid;
  grid-template-columns: 40% 35% 25%;
}
footer .main_information .bottom_information_footer .footer_menu {
  display: grid;
}
footer .main_information .bottom_information_footer .header {
  text-decoration: underline;
}
footer .main_information .bottom_information_footer .drabyna, footer .main_information .bottom_information_footer .manifest {
  padding-top: 30px;
}
footer .main_information .bottom_information_footer .footer_menu {
  grid-template-columns: 30% 50%;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer {
  display: grid;
  gap: 10px;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .manifest, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .manifest {
  color: #DA1F39;
  font-weight: 700;
}
footer .main_information .bottom_information_footer .contacts_footer {
  display: flex;
  flex-direction: column;
}
footer .main_information .bottom_information_footer .contacts_footer span {
  padding-bottom: 10px;
}
footer .main_information .bottom_information_footer .contacts_footer .grafic .pn_pt {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 70px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking svg {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .rights {
  padding-top: 100px;
}
footer .arrow_up {
  position: absolute;
  right: 50%;
  top: -28px;
}

/* end footer styles */
/* catalog styles */
/* catalog-woman-embroidery styles */
.catalog-navigation {
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
}
.catalog-navigation__text {
  display: flex;
  align-items: center;
}
.catalog-navigation__text::after {
  content: "";
  display: block;
  background-color: black;
  width: 1.9em;
  height: 0.043em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.catalog-navigation__text--current {
  font-weight: 300;
}

.catalog-main-block {
  display: grid;
  grid-template-columns: 20% 80%;
}
.catalog-main-block .filter {
  font-size: 14px;
}
.catalog-main-block .filter-block {
  padding-bottom: 1.25em;
}
.catalog-main-block .filter-block-list {
  padding-top: 0.3em;
  display: block;
}
.catalog-main-block .filter-block-list-option {
  display: block;
  padding-bottom: 0.3em;
  color: #565656;
  padding-left: 1px;
}
.catalog-main-block .filter-block-list-option input {
  padding: 0px;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.catalog-main-block .filter-block-list-option label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.catalog-main-block .filter-block-list-option label::before {
  content: "";
  background-color: white;
  outline: 1px solid #565656;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 6px;
  cursor: pointer;
  margin-right: 5px;
}
.catalog-main-block .filter-block-list-option input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 7px;
  border: solid #565656;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.81em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting {
  display: flex;
  align-items: center;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four {
  display: grid;
  grid-template-columns: 6px 6px;
  grid-template-rows: 6px 6px;
  gap: 2px;
  margin-right: 10px;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four__square {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #565656;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine:hover, .catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-four:hover {
  opacity: 70%;
  cursor: pointer;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine {
  display: grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  gap: 1px;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-nine__square {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #939694;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for {
  margin-left: 13px;
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 300;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for__option {
  border: none;
  font-family: "InterLight";
  font-size: 12px;
  font-weight: 300;
  padding-right: 0.3125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting-for__option:hover {
  opacity: 70%;
  cursor: pointer;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card {
  width: 48%;
  height: 660px;
  padding-bottom: 3.125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card a:hover {
  opacity: 100%;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content {
  width: 100%;
  height: 607px;
  background-image: url(src/images/general/pexels-morgan-victoria-5304966\ 2.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content__image:hover {
  width: 80%;
  height: 80%;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text {
  padding-top: 0.625em;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 300;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text__name {
  padding-bottom: 0.3125em;
}
.catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-text__price {
  font-weight: 700;
}
.catalog-main-block .catalog-general .catalog-buttom {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 600;
}
.catalog-main-block .catalog-general .catalog-buttom-more__button {
  display: inline-flex;
  align-items: center;
}
.catalog-main-block .catalog-general .catalog-buttom-more__button--text {
  text-decoration: underline;
  padding-right: 0.5em;
  text-transform: uppercase;
}
.catalog-main-block .catalog-general .catalog-buttom-next {
  display: flex;
}

/* end catalog-woman-embroidery styles */
/* card-product styles */
.product-card {
  margin-bottom: 8.125em;
}
.product-card .amount {
  padding-left: 2.94em;
}
.product-card-general {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 14px;
}
.product-card-general-images {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: -5.8em;
  display: flex;
  flex-wrap: wrap;
}
.product-card-general-images-main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.product-card-general-images-main__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50em;
  padding-bottom: 3%;
  cursor: pointer;
}
.product-card-general-images-main__photo:hover {
  outline: white solid 10px;
}
.product-card-general-images-additional {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-card-general-images-additional__photo {
  width: 48%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 25.94em;
  padding-bottom: 3%;
}
.product-card-general-main {
  padding-right: 5.5em;
}
.product-card-general-main-info__namecompany {
  text-transform: uppercase;
  color: #939694;
}
.product-card-general-main-additional {
  padding-top: 2.5em;
  font-size: 16px;
}
.product-card-general-main-additional-one-color {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}
.product-card-general-main-additional-one-size-info-option__text, .product-card-general-main-additional-one-size-info-option__text--checked {
  background-color: white;
  border: none;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin-right: 1.2em;
  cursor: pointer;
}
.product-card-general-main-additional-one-size-info-option__text:hover, .product-card-general-main-additional-one-size-info-option__text--checked:hover {
  font-weight: 600;
}
.product-card-general-main-additional-one-size-info-option__text--checked, .product-card-general-main-additional-one-size-info-option__text--checked--checked {
  font-weight: 600;
  cursor: default;
}
.product-card-general-main-additional-one-size-info-table {
  text-decoration: underline;
  cursor: pointer;
  padding-top: 0.8em;
}
.product-card-general-main-additional-one-price {
  padding-top: 2.5em;
  padding-bottom: 0.625em;
  font-size: 16px;
  font-weight: 600;
}
.product-card-general-main-additional-info {
  padding-top: 4.375em;
}
.product-card-general-main-additional-info-about__heading {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.product-card-general-main-additional-info-about__heading::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(src/images/general/icons/bx_bx-minus.png);
}
.product-card-general-main-additional-info-about__heading--hide {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.product-card-general-main-additional-info-about__heading--hide::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(src/images/general/icons/ant-design_plus-outlined.png);
}
.product-card-general-main-additional-info-about__text, .product-card-general-main-additional-info-about__line {
  margin-top: 1em;
}

/* end card-product styles */
/* basket styles */
.basket {
  display: grid;
  grid-template-columns: 45% 55%;
}
.basket-general-up-up {
  display: flex;
}
.basket-general-up-up__image {
  width: 142px;
  height: 171px;
  -o-object-fit: cover;
     object-fit: cover;
}
.basket-general-up-up-info {
  padding-left: 1.875em;
}
.basket-general-up-up-info__heading {
  margin-bottom: 2.5em;
}
.basket-general-up-up-info-add {
  font-size: 14px;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 30% 30%;
  margin-bottom: 0.625em;
}
.basket-general-up-up-info-add__text--bold {
  font-weight: 600;
  padding-left: 0.2em;
}
.basket-general-up-up-info-add-select {
  border: none;
  padding-left: 0px;
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 600;
}
.basket-order {
  padding-left: 2em;
}
.basket-order-up {
  display: flex;
  justify-content: space-between;
}
.basket-order-up-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}
.basket-order-up-block-text {
  padding-bottom: 3.375em;
}
.basket-order-up-block-text--bold {
  font-weight: 600;
}

.basket-end {
  margin-top: 3.75em;
}
.basket-end__line {
  width: 420px;
  margin-inline-start: 0;
}
.basket-end-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-end-general-pay {
  width: 420px;
}
.basket-end-general-pay-info {
  display: flex;
  justify-content: space-between;
}
.basket-end-general-pay-info__text--red {
  color: #DA1F39;
}
.basket-end-general-active__button {
  font-family: "InterLight";
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 2.5em;
}
.basket-end-text {
  margin-top: 3.625em;
  width: 45%;
}

.basket-empty {
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0em 5em 0em;
}
.basket-empty__button {
  margin-top: 1.5em;
}

/* end basket styles */
/* end styles */
/* responsive*/
/* max-width:1280px */
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 54px;
    color: white;
    max-width: 715px;
  }
  h2 {
    font-size: 32px;
  }
  body {
    padding: 0em 3em 0em 3em;
    font-size: 15px;
  }
  .slider-general-block {
    margin-right: -3em;
  }
  .main-screen {
    position: relative;
  }
  .main-screen-background {
    background: url(src/images/general/DSC_8575\ 2.png);
    background-size: cover;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content {
    height: 400px;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card {
    height: 450px;
  }
  .product-card-general-images {
    margin-left: -4em;
  }
  .product-card-general-images-main__photo {
    height: 30em;
    padding-bottom: 1%;
  }
  .product-card-general-images-additional__photo {
    width: 49%;
    height: 17em;
    padding-bottom: 1%;
  }
  .product-card-general-main-additional {
    font-size: 16px;
  }
  .product-card-general-main-additional-one-size-info-option__text, .product-card-general-main-additional-one-size-info-option__text--checked {
    font-family: "InterLight";
    font-size: 14px;
    font-weight: 300;
  }
  .product-card-general-main-additional-one-size-info-option__text--checked {
    font-weight: 600;
  }
  .product-card-general-main-additional-one-price {
    font-size: 16px;
  }
  .product-card-general-main-additional-info-about__heading {
    font-size: 16px;
  }
  .main .section .basket-end__line {
    width: 300px;
  }
  .main .section .basket-end-general-pay {
    width: 300px;
  }
  .main .section .basket-end-general-pay-info__text, .main .section .basket-end-general-pay-info__text--red {
    font-size: 16px;
  }
  .main .section .basket-end-text {
    font-size: 14px;
  }
  .banner {
    display: none;
  }
  .banner-1280 {
    display: block;
  }
  .banner-text {
    width: 50em;
  }
  .banner-text .banner-image img {
    height: 200px;
    width: 190px;
  }
  .banner-text .banner-image-right {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    justify-content: end;
  }
  .banner-text .banner-text-block {
    position: absolute;
    top: 38%;
    z-index: 1;
    text-align: center;
  }
  .banner-text .banner-text-block__header--white {
    color: white;
  }
}
/* end max-width:1280px */
/* max-width:970px */
@media screen and (max-width: 970px) {
  /* general styles */
  input[type=button] {
    letter-spacing: none;
  }
  h1 {
    font-size: 34px;
    color: white;
    max-width: 420px;
  }
  h2 {
    font-size: 32px;
  }
  body {
    font-size: 14px;
    padding: 0 1em 0 1em;
  }
  .laptop-header {
    display: none;
  }
  .mobile-header {
    margin-top: 20px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-header-logo {
    width: 250px;
  }
  .mobile-header-logo__image {
    width: 100%;
  }
  .mobile-header-additional {
    display: flex;
  }
  .mobile-header-additional img {
    width: 30px;
    margin-left: 1.25em;
  }
  .main-screen-background {
    background: url(src/images/general/Group\ 3\ \(2\).jpg);
    background-size: cover;
  }
  .main-screen .main-screen-block {
    margin-left: 3em;
  }
  .main-screen .main-screen-block-information__paragraph {
    color: white;
    margin-top: 0.625em;
    font-weight: 600;
  }
  .main-screen .main-screen-block--button {
    margin-top: 1.875em;
  }
  .main-screen__scroll {
    position: absolute;
    right: 50%;
    bottom: -27px;
    height: 40px;
    width: 40px;
  }
  .banner-970 {
    padding-top: 8.125em;
    padding-bottom: 8.125em;
    display: block;
  }
  .banner-1280, .banner {
    display: none;
  }
  .banner-text {
    width: 720px;
  }
  .banner-text .banner-image {
    justify-items: center;
  }
  .banner-text .banner-image img {
    height: 180px;
    width: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .laptop {
    display: none;
  }
  .mobile {
    display: block;
  }
  /* end general styles */
  /* footer styles */
  footer {
    margin: 5em -1em 0em -1em;
    margin-top: 50px;
  }
  footer .main_information {
    padding: 1.25em 1em 1.25em 1em;
  }
  footer .main_information .logo_footer .etnodim_logo_footer {
    padding-bottom: 1.25em;
    max-width: 132px;
  }
  footer .main_information .bottom_information_footer {
    display: flex;
    align-items: flex-start;
  }
  footer .main_information .bottom_information_footer .drabyna, footer .main_information .bottom_information_footer .manifest {
    padding-top: 20px;
  }
  footer .main_information .bottom_information_footer .footer_menu {
    grid-template-columns: 50% 50%;
    width: 100%;
  }
  footer .main_information .social_networking .icon_social_networking {
    padding: 13px 13px 13px 0;
    flex-wrap: wrap;
  }
  footer .main_information .social_networking .rights {
    display: none;
  }
  footer .main_information .arrow_up {
    display: none;
  }
  footer .main_information .arrow_up-mobile {
    position: absolute;
    left: 50%;
    top: -15px;
  }
  footer .main_information .contacts_footer-mobile {
    display: flex;
    flex-direction: column;
  }
  footer .main_information .contacts_footer-mobile .header {
    text-decoration: underline;
  }
  footer .main_information .contacts_footer-mobile span {
    padding-bottom: 10px;
  }
  footer .main_information .contacts_footer-mobile .rights {
    padding-top: 20px;
    padding-bottom: 0;
  }
  footer .main_information .bottom_information_footer .contacts_footer {
    display: none;
  }
  /* end footer styles */
  /* slider styles */
  .slider-general-mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 50px;
    position: relative;
  }
  .slider-general-mobile-position {
    position: absolute;
    top: 47%;
    width: 100%;
  }
  .slider-general-mobile-position__arrow {
    display: flex;
    justify-content: space-between;
  }
  .slider-general-mobile-block {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    padding: 0 28px 0 28px;
  }
  .slider-general-mobile-block-card {
    width: 100%;
    height: 100%;
  }
  .slider-general-mobile-block-card-fit {
    height: 93%;
    padding-bottom: 15px;
  }
  .slider-general-mobile-block-card-fit__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider-general-mobile-block-card-description {
    padding-bottom: 5px;
  }
  .slider-general-mobile-block-card-price {
    font-weight: 600;
  }
  /* end slider styles */
  /* fourth screen section styles */
  .fourth_screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .fourth_screen .background {
    margin: 0em -1em 0em -1em;
    height: 50%;
  }
  .fourth_screen .background .main_block {
    height: 110%;
  }
  .fourth_screen .background .main_block .text_part {
    margin-top: 21px;
    margin-left: 1em;
  }
  .fourth_screen .background .main_block .text_part h2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .fourth_screen .background .main_block .text_part h2 {
    padding-bottom: 0;
  }
  .fourth_screen .background .main_block .text_part p {
    padding-bottom: 3.125em;
    line-height: 1.875em;
    width: 26.19em;
  }
  .fourth_screen .background .main_block .image_part {
    margin-left: -2em;
    margin-right: -2em;
    margin-top: 21px;
  }
  .fourth_screen .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fourth_screen .text p {
    text-align: center;
    padding-bottom: 30px;
    max-width: 500px;
  }
  /* end fourth screen section styles */
  /* catalog styles */
  .catalog-main-block {
    display: block;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-upper {
    justify-content: flex-end;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-upper .sorting {
    display: none;
  }
  .catalog-upper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .catalog-upper-nav .filter-block__button {
    padding-bottom: 0;
    font-weight: 300;
    font-size: 14px;
  }
  .catalog-upper-nav-sort {
    display: flex;
    align-items: center;
  }
  .catalog-upper-nav-sort__span {
    padding-right: 5px;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card {
    width: 49%;
    height: 100%;
    padding-bottom: 20px;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content {
    height: 420px;
  }
  /* end catalog styles */
  /* catalog navigation styles */
  .catalog-navigation-mobile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .catalog-navigation-mobile .catalog-navigation-name {
    margin-left: 10px;
    font-weight: 600;
    font-weight: 12px;
  }
  /* end catalog navigation styles */
  /* product card styles */
  .product-card-general-main-additional {
    font-size: 14px;
  }
  .product-card-general-main-additional-one-price__text {
    font-size: 14px;
    font-weight: 700;
  }
  .product-card-general-main-additional-info-about__text {
    font-size: 12px;
  }
  .product-card {
    margin-bottom: 50px;
  }
  .product-card-general {
    display: flex;
    flex-direction: column;
  }
  .product-card-general-images {
    margin-left: 0;
  }
  .product-card-general-images-main {
    padding-bottom: 10px;
    height: 80vh;
  }
  .product-card-general-images-main-additional {
    font-size: 12px;
  }
  .product-card-general-images-main__photo {
    height: 100%;
    padding-bottom: 0;
  }
  .product-card-general-images-additional {
    flex-wrap: nowrap;
    overflow: hidden;
    margin-right: -1em;
  }
  .product-card-general-images-additional__photo {
    padding-right: 10px;
    height: 100%;
    padding-bottom: 0;
    width: 30%;
  }
  .product-card-general__arrow {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .product-card-general__arrow--left {
    padding-right: 10px;
  }
  .product-card-general-main {
    padding-right: 0;
  }
  /* end product card styles */
  /* basket styles */
  .basket-mobile {
    position: relative;
    display: grid;
    align-content: space-between;
    grid-template-columns: 50% 50%;
  }
  .basket-mobile-image {
    width: 100%;
    height: 30vh;
  }
  .basket-mobile-image__img {
    width: 92%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .basket-mobile-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .basket-mobile-info .basket-general-up-up-info {
    padding-left: 0;
  }
  .basket-mobile-info .basket-general-up-up-info__heading {
    font-size: 20px;
    margin-bottom: 0;
  }
  .basket-mobile .basket-mobile-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  .basket-mobile .basket-mobile-amount__text {
    font-weight: 600;
  }
  .basket-mobile .basket-order-up-icon {
    position: absolute;
    right: 0;
  }
  .basket-general-up-up-info-add {
    grid-template-columns: 18% 20%;
  }
  .main .section .basket-end {
    margin-top: 50px;
  }
  .main .section .basket-end__line {
    width: 100%;
  }
  .main .section .basket-end-general {
    flex-direction: column;
    align-items: flex-start;
    width: -moz-max-content;
    width: max-content;
  }
  .main .section .basket-end-general-pay {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
  }
  .main .section .basket-end-general-pay-info {
    display: flex;
    justify-content: space-between;
  }
  .main .section .basket-end-general-active {
    display: flex;
    flex-direction: column;
  }
  .main .section .basket-end-general-active__button {
    margin-left: 0;
    margin-top: 30px;
  }
  .main .section .basket-end-text {
    margin-top: 51px;
    width: 100%;
  }
  /* end basket styles */
}
/* end max-width:970px */
/* max-width:768px */
@media screen and (max-width: 768px) {
  /* general styles */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
    max-width: 715px;
  }
  h2 {
    font-size: 18px;
  }
  h3, h5 {
    font-size: 16px;
  }
  .mobile-header {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .mobile-header-logo {
    width: 100px;
  }
  .mobile-header-logo__image {
    width: 100%;
  }
  .mobile-header-additional img {
    width: 25px;
  }
  .banner-970 {
    display: none;
  }
  /* end general styles */
  .banner-768 {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    display: block;
  }
  .banner-text {
    width: 355px;
  }
  .banner-text .banner-image img {
    height: 119px;
    width: 94px;
  }
  .main-screen .main-screen-block {
    margin-left: 1em;
  }
  .main-screen .main-screen-block-information__paragraph {
    margin-top: 0.625em;
  }
  .main-screen .main-screen-block--button {
    margin-top: 1.875em;
  }
  .main-screen__scroll {
    position: absolute;
    right: 50%;
    bottom: -21px;
    height: 31px;
    width: 31px;
  }
  .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content {
    height: 200px;
  }
  .main-screen-block-information__header {
    max-width: 360px;
  }
  .catalog-main-block .catalog-general .catalog-buttom {
    display: flex;
    justify-content: center;
    margin-top: 51px;
  }
  .basket-mobile-info .basket-general-up-up-info__heading {
    font-size: 16px;
  }
}
/* end max-width:768px *//*# sourceMappingURL=styles.css.map */