@charset "UTF-8";
/* fonts components */
@font-face {
  font-family: "RalewayRegular";
  src: url(font/Raleway/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "DelaGothicOne";
  src: url(font/DelaGothicOne-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* end fonts components */
/* general styles*/
h1, h2, h3 {
  font-family: "DelaGothicOne";
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  color: white;
  max-width: 715px;
}

h2 {
  font-size: 36px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 70%;
}

body {
  padding: 0em 5em 0em 5em;
  font-family: "RalewayRegular";
  font-size: 16px;
  font-weight: 400;
}

input[type=button] {
  background-color: #DA1F39;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: "RalewayRegular";
  font-size: 14px;
  letter-spacing: 0.07em;
  height: 50px;
  width: 225px;
  cursor: pointer;
}

input[type=button]:hover {
  border: 1px solid #DA1F39;
  color: #DA1F39;
  background-color: white;
  transition: all 0.2s ease-in;
}

/* end general styles*/
/* laptop-header styles*/
.laptop-header {
  margin: 1.6em 0em 1.6em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.laptop-header .laptop-header-menu {
  display: flex;
}
.laptop-header .laptop-header-menu__nav, .laptop-header .laptop-header-menu__nav_red {
  padding-right: 1.875em;
}
.laptop-header .laptop-header-menu__nav_red {
  color: #DA1F39;
  font-weight: bold;
}
.laptop-header .logo__image {
  max-width: 11.5em;
}
.laptop-header .laptop-header-additional {
  display: flex;
  align-items: center;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value, .laptop-header .laptop-header-additional__number, .laptop-header .laptop-header-additional__icon-searching {
  margin-right: 1.25em;
}
.laptop-header .laptop-header-additional__language, .laptop-header .laptop-header-additional__value {
  font-family: "RalewayRegular";
  font-size: 16px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  padding-right: 0.3125em;
}
.laptop-header .laptop-header-additional__language:hover, .laptop-header .laptop-header-additional__value:hover {
  opacity: 70%;
  cursor: pointer;
}
.laptop-header .laptop-header-additional img {
  max-width: 25px;
}

/* end laptop-header styles*/
/* main-screen styles */
.main-screen {
  position: relative;
}
.main-screen-background {
  background: url(src/images/general/DSC_8575\ 1.jpg);
  background-size: cover;
  height: 47em;
  display: flex;
  align-items: center;
}
.main-screen .main-screen-block {
  margin-left: 5.5em;
}
.main-screen .main-screen-block-information__paragraph {
  color: white;
  margin-top: 0.625em;
}
.main-screen .main-screen-block--button {
  margin-top: 3.125em;
}
.main-screen__scroll {
  position: absolute;
  right: 50%;
  bottom: -43px;
  height: 63px;
  width: 57px;
}

/* end main-screen styles */
/* banner-first styles */
.banner {
  padding-top: 8.125em;
  padding-bottom: 8.125em;
}
.banner .banner-text {
  position: relative;
  width: 53em;
  margin: auto;
}
.banner .banner-text .banner-image {
  position: relative;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
}
.banner .banner-text .banner-image img {
  height: 260px;
  width: 209px;
}
.banner .banner-text .banner-image-right {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-content: end;
}
.banner .banner-text .banner-text-block {
  position: absolute;
  top: 38%;
  z-index: 1;
  text-align: center;
}
.banner .banner-text .banner-text-block__header--white {
  color: white;
}

/* end banner-first styles */
/* slider styles */
.slider-general {
  margin-bottom: 128px;
}
.slider-general-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
.slider-general-top__arrow {
  display: flex;
}
.slider-general-top__arrow--left {
  padding-right: 1.25em;
}
.slider-general-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
}
.slider-general-block-card {
  max-width: 19.8em;
  padding-right: 3.125em;
}
.slider-general-block-card :hover {
  cursor: pointer;
}
.slider-general-block-card-fit {
  width: 19.8em;
  height: 25em;
  background-image: url(src/images/general/фон.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-general-block-card-fit__image {
  width: 19.8em;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-general-block-card-fit__image:hover {
  width: 15.8em;
  height: 21em;
  transition: all 0.5s;
}
.slider-general-block-card-description {
  padding-top: 0.625em;
}
.slider-general-block-card-description__paragraph {
  font-size: 14px;
}
.slider-general-block-card-price {
  padding-top: 0.625em;
}
.slider-general-block-card-price span {
  font-weight: 700;
}

/* end block_slider section styles */
/* fourth_screen section styles */
.fourth_screen .background {
  background: url(src/images/general/Rectangle\ 49\ \(1\).png);
  background-size: cover;
}
.fourth_screen .background .main_block {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: 47em;
}
.fourth_screen .background .main_block .text_part {
  margin-top: 50px;
  margin-left: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourth_screen .background .main_block .text_part .name_company {
  text-transform: uppercase;
  color: #939694;
}
.fourth_screen .background .main_block .text_part h2, .fourth_screen .background .main_block .text_part p {
  text-align: center;
}
.fourth_screen .background .main_block .text_part h2 {
  padding-bottom: 1.25em;
}
.fourth_screen .background .main_block .text_part p {
  padding-bottom: 3.125em;
  line-height: 1.875em;
  max-width: 26.19em;
}
.fourth_screen .background .main_block .image_part {
  width: 100%;
  background: url(src/images/general/image\ 22.png);
  background-size: cover;
}

/* end fourth_screen section styles */
/* footer styles */
footer {
  background-color: #F4F4F4;
  margin-top: 130px;
  position: relative;
  margin: 5em -5em 0em -5em;
}
footer .main_information {
  padding: 4.375em 5em 4.375em 5em;
}
footer .main_information .logo_footer {
  display: flex;
  justify-content: center;
}
footer .main_information .logo_footer .etnodim_logo_footer {
  padding-bottom: 40px;
  max-width: 184px;
}
footer .main_information .bottom_information_footer {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}
footer .main_information .bottom_information_footer .footer_menu {
  display: grid;
}
footer .main_information .bottom_information_footer .header {
  text-decoration: underline;
}
footer .main_information .bottom_information_footer .drabyna, footer .main_information .bottom_information_footer .manifest {
  padding-top: 30px;
}
footer .main_information .bottom_information_footer .footer_menu {
  grid-template-columns: 30% 50%;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer {
  display: grid;
  gap: 10px;
}
footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .left_menu_footer .manifest, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .drabyna, footer .main_information .bottom_information_footer .footer_menu .right_menu_footer .manifest {
  color: #DA1F39;
  font-weight: 700;
}
footer .main_information .bottom_information_footer .contacts_footer {
  display: flex;
  flex-direction: column;
}
footer .main_information .bottom_information_footer .contacts_footer span {
  padding-bottom: 10px;
}
footer .main_information .bottom_information_footer .contacts_footer .grafic .pn_pt {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 70px;
}
footer .main_information .bottom_information_footer .social_networking .icon_social_networking svg {
  padding-right: 20px;
}
footer .main_information .bottom_information_footer .social_networking .rights {
  padding-top: 100px;
}
footer .arrow_up {
  position: absolute;
  right: 50%;
  top: -28px;
}

/* end footer styles */
/* responsive*/
@media screen and (min-width: 1990px) {
  .laptop_mobile {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */