$icon_size_width: 25px;
$hover: 70%;
$main_color: #DA1F39;
$additional_color: #939694;
$additional_color_two: #F4F4F4;
$additional_color_three: #565656;
$main_font:"InterLight";
$main_font_size: 16px;
$paragraph_font_size: 14px;

$main_font_weight: 300;
$header_font:"DelaGothicOne";
$transition: all 0.2s ease-in;

@mixin font($font, $font_size, $font_weight){
    font-family: $font;
    font-size: $font_size;
    font-weight: $font_weight;
}

@mixin hover($opacity, $pointer){
    opacity: $hover;
    cursor: pointer;
}

/* fonts components */
@font-face {
    font-family: "InterLight";
    src: url(font/inter/Inter-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "DelaGothicOne";
    src: url(font/DelaGothicOne-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
/* end fonts components */

/* general styles*/
h1, h2, h3{
    font-family: $header_font;
    text-transform: uppercase;
}
h1{
    font-size: 64px;
    color: white;
    max-width: 715px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 18px;
}
h5{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
    &:hover{ 
        @include hover($hover, pointer);
    }
}
body {
  padding: 0em 5em 0em 5em;
  @include font($main_font, $main_font_size, $main_font_weight);
}

input[type=button]{
    padding: 1em 2em 1em 2em;
    background-color: $main_color;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: $main_font;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.07em;
    height: 50px;
    min-width: 225px;
    cursor: pointer;
}
input[type=button]:hover{
        border: 1px solid $main_color;
        color: $main_color;
        background-color: white;
        transition: $transition; 
}



//styles for button increase and decrease
.amount{
    &__button--decrease, &__button--increase{
        font-weight: 400;
        font-size: $main_font_size;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 0%;
        cursor: pointer;
        background-color: $additional_color_two;
        &:hover{
            background-color: white;
            outline: $additional_color_two solid 1px;
        }
    }
    &__value{
        margin-left: 5px;
        margin-right:5px;
        width: 1.3125em;
        border: none;
        text-align: center;
        &:active{
            border: none;
        }
    }
}

/*drop-down button styles*/
.filter-block__button{
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-family: $main_font;
    font-weight: 600;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        width: 4px;
        height: 4px;
        border: solid black;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
        margin-left: 5px;
    }
}

.filter-block__button--hide{
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-family: $main_font;
    font-weight: 600;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        width: 4px;
        height: 4px;
        border: solid black;
        border-width: 1px 0 0 1px;
        transform: rotate(45deg);
        margin-left: 5px;
        margin-top: 2px;
    }
}
/*end drop-down button styles*/

/* end general styles*/

/* laptop-header styles*/
.mobile-header{
    display: none;
}
.laptop-header{
    margin: 1.6em 0em 1.6em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .laptop-header-menu{
        display: flex;
        &__nav, &__nav_red{
            padding-right: 1.875em;
        }
        &__nav_red{
            color: $main_color;
            font-weight: bold;
        }
    }
    
    .logo__image{
        max-width: 11.5em;
    }
    
    .laptop-header-additional{
        display: flex;
        align-items: center;
        &__language, &__value, &__number, &__icon-searching{
            margin-right: 1.25em;
        }
        &__language, &__value{
            @include font($main_font, $main_font_size, $main_font_weight);
            border: none;
            text-transform: uppercase;
            padding-right: 0.3125em;
            &:hover{
                @include hover($hover, pointer);
            }
        }
        img{
            max-width: $icon_size_width;
        }
    }
}
/* end laptop-header styles*/

/* main-screen styles */
.main-screen{
    position: relative;
    &-background{
        background: url(src/images/general/DSC_8575\ 1.jpg);
        background-size: cover;
        height: 47em;
        display: flex;
        align-items: center;
    }
    .main-screen-block{
        margin-left: 5.5em;
        &-information{
            &__paragraph{
                color: white;
                margin-top: 0.625em;
            }
        }
        &--button{
            margin-top: 3.125em;
        }
    }
    &__scroll{
        position: absolute;
        right: 50%;
        bottom: -43px;
        height: 63px;
        width: 57px;
        }
    }
/* end main-screen styles */

/* banner-first styles */
.banner, .banner-1280{
    padding-top: 8.125em;
    padding-bottom: 8.125em;
    }
    .banner-1280, .banner-970, .banner-768{
        display: none;
    }

    .banner-text{
        position: relative;
        width: 53em;
        margin: auto;
        .banner-image{
            position: relative;
            display: grid;
            grid-template-rows: 25% 25% 25% 25%;
            grid-template-columns: 50% 50%;
                img{
                    height: 260px;
                    width: 209px;
                }
                &-right{
                    display: grid;
                    grid-column-start: 2;
                    grid-row-start: 3;
                    justify-content: end;
                }
            }
        .banner-text-block{
            position: absolute;
            top: 38%;
            z-index: 1;
            text-align: center;
            &__header{
                &--white{
                    color: white;
                }
            }
        }
    }

/* end banner-first styles */

/* slider styles */
.mobile{
display: none;
}
.slider{
    &-general{
        margin-bottom: 128px;
        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.5em;
            &__arrow{
                display: flex;
                &--left{
                    padding-right: 1.25em;
                }
            }
        }
        &-block{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            flex-wrap: nowrap;
            margin-right: -5em;
            &-card{
                max-width: 19.8em;
                padding-right: 3.125em;
                :hover{
                    cursor: pointer;
                }
                &-fit{
                    width: 19.8em;
                    height: 25em;
                    background-image: url(src/images/general/фон.png);
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__image{
                        width: 19.8em;
                        height: 25em;
                        object-fit: cover;
                        transition: all .5s;
                        &:hover{
                            width: 15.8em;
                            height: 21em;
                        }
                    }
                }
                &-description{
                    padding-top: 0.625em;
                    min-height: 40px;
                    &__paragraph{
                        font-size: 14px;
                    }
                }
                &-price{
                    padding-top: 0.625em;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
// .swiper-container{
//     &-wrapper{
//         display: flex;
//         justify-content: space-between;
//         overflow: hidden;
//         flex-wrap: nowrap;
//         margin-right: -5em;
//         &-slide{
//             max-width: 19.8em;
//             padding-right: 3.125em;
//             :hover{
//                 cursor: pointer;
//             }
//             &-image{
//                 width: 19.8em;
//                 height: 25em;
//                 background-image: url(src/images/general/фон.png);
//                 background-size: cover;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 &__image{
//                     width: 19.8em;
//                     height: 25em;
//                     object-fit: cover;
//                     transition: all .5s;
//                     &:hover{
//                         width: 15.8em;
//                         height: 21em;
//                     }
//                 }
//             }
//             &-description{
//                 padding-top: 0.625em;
//                 min-height: 40px;
//                 &__paragraph{
//                     font-size: 14px;
//                 }
//             }
//             &-price{
//                 padding-top: 0.625em;
//                 span{
//                     font-weight: 700;
//                 }
//             }
//         }
//     }
// }



/* end block_slider section styles */

/* fourth screen section styles */
.fourth_screen{
    .background{
        background: url(src/images/general/Rectangle\ 49\ \(1\).png);
        background-size: cover;
        .main_block{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            height: 47em;
            .text_part{
                margin-top: 50px;
                margin-left: 80px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .name_company{
                    text-transform: uppercase;
                    color: $additional_color;
                }
                h2, p{
                    text-align: center;
                }
                h2{
                    
                    padding-bottom: 1.25em;
                }
                p{
                    padding-bottom: 3.125em;
                    line-height: 1.875em;
                    max-width: 26.19em;
                }
            }
            .image_part{
                width: 100%;
                background: url(src/images/general/image\ 22.png);
                background-size: cover;
                }
            }
        }
    }

/* end fourth screen section styles */

/* footer styles */
footer{
    background-color: $additional_color_two;
    margin-top: 130px;
    position: relative;
    margin: 5em -5em 0em -5em;
        .main_information{
        padding: 4.375em 5em 4.375em 5em;
        .logo_footer{
            display: flex;
            justify-content: center;
            .etnodim_logo_footer{
                padding-bottom: 40px;
                max-width: 184px;
            }
        }
        .bottom_information_footer{
            display: grid;
            grid-template-columns: 40% 35% 25%;
            .footer_menu{
                display: grid;
            }
            .header{
                text-decoration: underline;
            }
            .drabyna, .manifest{
                padding-top:  30px;
            }
            .footer_menu{
                grid-template-columns: 30% 50%;
                .left_menu_footer, .right_menu_footer{
                    display: grid;
                    gap: 10px;
                    .drabyna, .manifest{
                        color: $main_color;
                        font-weight: 700;
                    }
                }
            }
            .contacts_footer{
                display: flex;
                flex-direction: column;
                span{
                    padding-bottom: 10px;
                }
                .grafic{
                    .pn_pt{
                        padding-right: 20px;
                    }
                }
            }
            .social_networking{
                .icon_social_networking{
                    display: flex;
                    align-items: center;
                    padding-top: 10px;
                    padding-bottom: 70px;

                    svg{
                        padding-right: 20px;
                    }
                }
                .rights{
                    padding-top: 100px;
                }
            }
        }
    }
    .arrow_up{
        position: absolute;
        right: 50%;
        top: -28px;
    }
}
/* end footer styles */


/* catalog styles */

/* catalog-woman-embroidery styles */
.catalog-navigation{
    @include font($main_font, 12px, 600);
    padding-top: 10px;
    padding-bottom: 41px;
    display: flex;
    align-items: center;
        &__text{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                display: block;
                background-color: black;
                width: 1.9em;
                height: 0.043em;
                margin-right: 0.4em;
                margin-left: 0.4em;
            }
            &--current{
                font-weight: 300;
            }
        }
    }

    .catalog-main-block{
    display: grid;
    grid-template-columns: 20% 80%;
    .filter{
        font-size: 14px;
        &-block{
            padding-bottom: 1.25em;
            &-list{
                padding-top: 0.3em;
                display: block;
                &-option{
                    display: block;
                    padding-bottom: 0.3em;
                    color: #565656;
                    padding-left: 1px;
                    input{
                        padding: 0px;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }
                    label{
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        &::before{
                            content:'';
                            background-color: white;
                            outline: 1px solid $additional_color_three;
                            display: inline-block;
                            position: relative;
                            vertical-align: middle;
                            padding: 6px;
                            cursor: pointer;
                            margin-right: 5px;
                        }
                    }
                    input:checked + label::after{
                        content: '';
                        display: block;
                        position: absolute;
                        // margin: auto;
                        // background-color: $additional_color_three;
                        // width: 8px;
                        // height: 8px;
                        // top: 6px;
                        // left: 2px;
                        top: 3px;
                        left: 3px;
                        width: 4px;
                        height: 7px;
                        border: solid $additional_color_three;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .catalog-general{
        .catalog-general-section{
            .catalog-upper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.81em;
                .sorting{
                    display: flex;
                    align-items: center;
                    &-four{
                        display: grid;
                        grid-template-columns: 6px 6px;
                        grid-template-rows: 6px 6px;
                        gap: 2px;
                        margin-right: 10px;
                        &__square{
                            content: '';
                            width: 6px;
                            height: 6px;
                            background-color: $additional_color_three;
                        }
                    }
                    &-nine, &-four{
                        &:hover{
                            @include hover($hover, pointer);
                        }
                        }
                    &-nine{
                        display: grid;
                        grid-template-columns: 4px 4px 4px;
                        grid-template-rows: 4px 4px 4px;
                        gap: 1px;
                        &__square{
                            content: '';
                            width: 4px;
                            height: 4px;
                            background-color: $additional_color;
                        }
                    }
                    &-for{
                        margin-left: 13px;
                        @include font($main_font, 12px, 300);
                        &__option{
                            border: none;
                            @include font($main_font, 12px, 300);
                            padding-right: 0.3125em;
                            &:hover{
                                @include hover($hover, pointer);
                            }
                        }
                    }
                }
            }
            .catalog-main{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-card{
                    width: 48%;
                    height: 660px;
                    padding-bottom: 3.125em;
                    a {
                        &:hover{
                            opacity: 100%;
                        }
                    }
                    &-content{
                        width: 100%;
                        height: 607px;
                        background-image: url(src/images/general/pexels-morgan-victoria-5304966\ 2.png);
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &__image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all .5s;
                            &:hover{
                                width: 80%;
                                height: 80%;
                            }
                        }
                    }
                    &-text{
                        padding-top: 0.625em;
                        @include font($main_font, 14px, 300);
                        &__name{
                            padding-bottom: 0.3125em;

                        }
                        &__price{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .catalog-buttom{
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            justify-items: center;
            @include font($main_font, 14px, 600);
            &-more{
                &__button{
                    display: inline-flex;
                    align-items: center;
                    &--text{
                        text-decoration: underline;
                        padding-right: 0.5em;
                        text-transform: uppercase;
                    }
                }
            }
            &-next{
                display: flex;

            }
        }
    }
}
/* end catalog-woman-embroidery styles */


/* card-product styles */
.product-card{
    margin-bottom: 8.125em;
    .amount{
        padding-left: 2.94em;
    }
    &-general{
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: $paragraph_font_size;
        &-images{
            width: 100%;
            height: fit-content;
            margin-left: -5.8em;
            display: flex;
            flex-wrap: wrap;
            &-main{
                width: 100%;
                height: fit-content;
                &__photo{
                    width: 100%;
                    object-fit: cover;
                    height: 50em;
                    padding-bottom: 3%;
                    cursor: pointer;
                    &:hover{
                        outline: white solid 10px;
                    }
                }
            }
            &-additional{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &__photo{
                    width: 48%;
                    object-fit: cover;
                    height: 25.94em;
                    padding-bottom: 3%;
                }
            }
        }
        &-main{
            padding-right: 5.5em;
            &-info{
                &__namecompany{
                    text-transform: uppercase;
                    color: $additional_color;
                }
            }
            &-additional{
                padding-top: 2.5em;
                font-size: $main_font_size;
                &-one{
                    &-color{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.25em;
                    }
                    &-size{
                        &-info{
                            &-option{
                                &__text, &__text--checked{
                                    background-color: white;
                                    border: none;
                                    @include font($main_font, $paragraph_font_size, $main_font_weight);
                                    padding: 0px;
                                    margin-right: 1.2em;
                                    cursor: pointer;
                                    &:hover{
                                        font-weight: 600;
                                    }
                                    &--checked{
                                        font-weight: 600;
                                        cursor: default;
                                    }
                                }
                            }
                            &-table{
                                text-decoration: underline;
                                cursor: pointer;
                                padding-top: 0.8em;
                            }
                        }
                    }
                    &-price{
                        padding-top: 2.5em;
                        padding-bottom: 0.625em;
                        font-size: $main_font_size;
                        font-weight: 600;
                    }
                }
            }
            &-additional-info{
                padding-top: 4.375em;
                &-about{
                    &__heading{
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: $transition;
                        &::after{
                            content: '';
                            width: 1em;
                            height: 1em;
                            background-image: url(src/images/general/icons/bx_bx-minus.png);
                        }
                        &--hide{
                            font-size: 16px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;
                            transition: $transition;
                            &::after{
                                content: '';
                                width: 1em;
                                height: 1em;
                                background-image: url(src/images/general/icons/ant-design_plus-outlined.png);
                            }
                        }
                    }
                    &__text, &__line{
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}
/* end card-product styles */

/* basket styles */
.basket{
    display: grid;
    grid-template-columns: 45% 55%;
    
        &-general{
            &-up{
                &-up{
                    display: flex;
                    &__image{
                        width: 142px;
                        height: 171px;
                        object-fit: cover;
                    }
                    &-info{
                        padding-left: 1.875em;
                        &__heading{
                            margin-bottom: 2.5em;
                        }
                        &-add{
                            font-size: $paragraph_font_size;
                            display: grid;
                            justify-items: start;
                            align-items: center;
                            grid-template-columns: 30% 30%;
                            margin-bottom: 0.625em;
                            &__text{
                                
                                &--bold{
                                    font-weight: 600;
                                    padding-left: 0.2em;
                                }
                            }
                            &-select{
                                border: none;
                                padding-left: 0px;
                                @include font($main_font, $paragraph_font_size, 600); 
                                
                            }
                        }
                    }
                }
            }

        }
        &-order{
            padding-left: 2em;
            &-up{
                display: flex;
                justify-content: space-between;
                &-block{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-size: $paragraph_font_size;
                    &-text{
                        padding-bottom: 3.375em;
                        &--bold{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

.basket-end{
    margin-top: 3.75em;
    &__line{
        width: 420px;
        margin-inline-start: 0;
    }
    &-general{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-pay{
            width: 420px;
            &-info{
                display: flex;
                justify-content: space-between;
                &__text{
                    &--red{
                        color: $main_color;
                    }
                }
            }
        }
        &-active{
            &__button{
                @include font($main_font, $paragraph_font_size, 600);
                text-decoration: underline;
                text-transform: uppercase;
                margin-left: 2.5em;
            }
        }
    }
    &-text{
        margin-top: 3.625em;
        width: 45%;
    }
}

.basket-empty{
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0em 5em 0em;
    &__button{
        margin-top: 1.5em;
    }
}
/* end basket styles */

/* end styles */


/* responsive*/

/* max-width:1280px */
@media screen and (max-width:1280px){
    $main_font_size: 16px;
    $paragraph_font_size: 14px;
    h1{
        font-size: 54px;
        color: white;
        max-width: 715px;
    }
    h2{
        font-size: 32px;
    }
    body {
      padding: 0em 3em 0em 3em;
      font-size: 15px;
    }
    .slider-general-block{
        margin-right: -3em;
    }
    .main-screen{
        position: relative;
        &-background{
            background: url(src/images/general/DSC_8575\ 2.png);
            background-size: cover;
        }
    }
    .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card-content{
        height: 400px;
    }
    .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card{
        height: 450px;
    }
    .product-card{
    &-general{
        &-images{
            margin-left: -4em;
            &-main{
                &__photo{
                    height: 30em;
                    padding-bottom: 1%;
                }
            }
            &-additional{
                &__photo{
                    width: 49%;
                    height: 17em;
                    padding-bottom: 1%;
                }
            }
        }
        &-main{
            &-additional{
                font-size: $main_font_size;
                &-one{
                    &-size{
                        &-info{
                            &-option{
                                &__text, &__text--checked{
                                    @include font($main_font, $paragraph_font_size, $main_font_weight);
                                }
                                &__text--checked{
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    &-price{
                        font-size: $main_font_size;
                    }
                }
            }
            &-additional-info{
                &-about{
                    &__heading{
                        font-size: $main_font_size;
                    }
                }
            }
        }
    }
    }
    .main{
        .section{
            .basket-end{
                &__line{
                    width: 300px;
                }
                &-general{
                    &-pay{
                        width: 300px;
                        &-info{
                            &__text, &__text--red{
                                font-size: $main_font_size;
                            }
                        }
                    }
                }
                &-text{
                    font-size: $paragraph_font_size;
                }
            }
        }
    }
    .banner{
        display: none;
    }
    .banner-1280{
        display: block;
    }
    .banner-text{
        width: 50em;
        .banner-image{
                img{
                    height: 200px;
                    width: 190px;
                }
                &-right{
                    display: grid;
                    grid-column-start: 2;
                    grid-row-start: 3;
                    justify-content: end;
                }
            }
        .banner-text-block{
            position: absolute;
            top: 38%;
            z-index: 1;
            text-align: center;
            &__header{
                &--white{
                    color: white;
                }
            }
        }
    }
}
/* end max-width:1280px */


/* max-width:970px */
@media screen and (max-width:970px){
    $main_font_size: 14px;
    $paragraph_font_size: 12px;
/* general styles */
    input[type=button]{
        letter-spacing: none;
    }
    h1{
        font-size: 34px;
        color: white;
        max-width: 420px;
    }
    h2{
        font-size: 32px;
    }
    body{
        font-size: $main_font_size;
        padding: 0 1em 0 1em;
    }
    .laptop-header{
        display: none;
    }
    .mobile-header{
        margin-top: 20px;
        margin-bottom: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo{
            width: 250px;
            &__image{
                width: 100%;
            }
        }
        &-additional{
            display: flex;
            img{
                width: 30px;
                margin-left: 1.25em;
            }
        }
    }
    .main-screen{
        &-background{
            background: url(src/images/general/Group\ 3\ \(2\).jpg);
            background-size: cover;
        }
        .main-screen-block{
            margin-left: 3em;
            &-information{
                &__paragraph{
                    color: white;
                    margin-top: 0.625em;
                    font-weight: 600;
                }
            }
            &--button{
                margin-top: 1.875em;
            }
        }
        &__scroll{
            position: absolute;
            right: 50%;
            bottom: -27px;
            height: 40px;
            width: 40px;
            }
    }
    .banner-970{
            padding-top: 8.125em;
            padding-bottom: 8.125em;
            display: block;
    }
    .banner-1280, .banner{
        display: none;
    }
    .banner-text{
        width: 720px;
        .banner-image{
            justify-items: center;
                img{
                    height: 180px;
                    width: 120px;
                    object-fit: cover;
                }
            }
    }
    .laptop{
        display: none;
        }
    .mobile{
        display: block;
    }
/* end general styles */


/* footer styles */
    footer{
        margin: 5em -1em 0em -1em;
        margin-top: 50px;
        .main_information{
            padding: 1.25em 1em 1.25em 1em;
            .logo_footer{
                .etnodim_logo_footer{
                padding-bottom: 1.25em;
                max-width: 132px;
                }
            }
            .bottom_information_footer{
                display: flex;
                align-items: flex-start;
                .drabyna, .manifest{
                    padding-top:  20px;
                }
                .footer_menu{
                grid-template-columns: 50% 50%;
                width: 100%;
                }
            }
            .social_networking{
                .icon_social_networking{
                    padding: 13px 13px 13px 0;
                    flex-wrap: wrap;
                }
                .rights{
                    display: none;
                }
            }
            .arrow_up{
                display: none;
            }
            .arrow_up-mobile{
                position: absolute;
                left: 50%;
                top: -15px;
            }
            .contacts_footer-mobile{
                display: flex;
                flex-direction: column;
                .header{
                    text-decoration: underline;
                }
                span{
                    padding-bottom: 10px;
                }
                .rights{
                    padding-top: 20px;
                    padding-bottom: 0;
                }
            }
        }
    }
    footer .main_information .bottom_information_footer .contacts_footer{
        display: none;
    }
/* end footer styles */

/* slider styles */

    .slider{
        &-general-mobile{
            height: 100vh;
            display: flex;
            flex-direction: column;
            object-fit: contain;
            margin-bottom: 50px;
            position: relative;
            &-position{
                position: absolute;
                top: 47%;
                width: 100%;
                &__arrow{
                    display: flex;
                    justify-content: space-between;
                }
            }
            &-block{
                margin-top: 20px;
                margin-bottom: 20px;
                height: 100%;
                padding: 0 28px 0 28px;
                &-card{
                    width: 100%;
                    height: 100%;
                    &-fit{
                        height: 93%;
                        padding-bottom: 15px;
                        &__image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-description{
                        padding-bottom: 5px;
                    }
                    &-price{
                        font-weight: 600;
                    }
                }
            }
        }
    }
/* end slider styles */

/* fourth screen section styles */
.fourth_screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .background{
        margin: 0em -1em 0em -1em;
        height: 50%;
        .main_block{
            height: 110%;
            .text_part{
                margin-top: 21px;
                margin-left: 1em;
                h2{
                    padding-left: 2em;
                    padding-right: 2em;
                }
                // .name_company{
                //     text-transform: uppercase;
                //     color: $additional_color;
                // }
                h2{
                    
                    padding-bottom: 0;
                }
                p{
                    padding-bottom: 3.125em;
                    line-height: 1.875em;
                    width: 26.19em;
                }
            }
            .image_part{
                margin-left: -2em;
                margin-right: -2em;
                margin-top: 21px;
                }
            }
        }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            padding-bottom: 30px;
            max-width: 500px;
        }
     }
    }

/* end fourth screen section styles */

/* catalog styles */
    .catalog-main-block{
        display: block;
    }
    .catalog-main-block .catalog-general .catalog-general-section .catalog-upper{
        justify-content: flex-end;
        .sorting {
            display: none;
            }
    }
    .catalog-upper-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .filter-block__button{
            padding-bottom: 0;
            font-weight: 300;
            font-size: $main_font_size;
        }
        &-sort{
            display: flex;
            align-items: center;
            &__span{
                padding-right: 5px;
            }
        }
    }
    .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card{
        width: 49%;
        height: 100%;
        padding-bottom: 20px;
        &-content{
            height: 420px;
        }
    }
/* end catalog styles */


/* catalog navigation styles */
    .catalog-navigation-mobile{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .catalog-navigation-name{
            margin-left: 10px;
            font-weight: 600;
            font-weight: $paragraph_font_size;
        }
    }
/* end catalog navigation styles */

/* product card styles */
    .product-card-general-main-additional{
        font-size: $main_font_size;
    }
    .product-card-general-main-additional-one-price__text{
        font-size: $main_font_size;
        font-weight: 700;
    }
    .product-card-general-main-additional-info-about__text{
        font-size: $paragraph_font_size;
    }
    .product-card{
        margin-bottom: 50px;
        &-general{
            display: flex;
            flex-direction: column;
            &-images{
                margin-left: 0;
                &-main{
                    padding-bottom: 10px;
                    height: 80vh;
                    &-additional{
                        font-size: $paragraph_font_size;
                    }
                    &__photo{
                        height: 100%;
                        padding-bottom: 0;
                    }
                }
                &-additional{
                    flex-wrap: nowrap;
                    overflow: hidden;
                    margin-right: -1em;
                    &__photo{
                        padding-right: 10px;
                        height: 100%;
                        padding-bottom: 0;
                        width: 30%;
                    }
                }
            }
            &__arrow{
                padding-top: 20px;
                padding-bottom: 20px;
                display: flex;
                justify-content: flex-end;
                &--left{
                    padding-right: 10px;
                }
            }
            &-main{
                padding-right: 0;
            }
        }
    }
/* end product card styles */

/* basket styles */
    .basket-mobile{
        position: relative;
        display: grid;
        align-content: space-between;
        grid-template-columns: 50% 50%;
        &-image{
            width: 100%;
            height: 30vh;
            &__img{
                width: 92%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-info{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .basket-general-up-up-info{
                padding-left: 0;
                &__heading{
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }
        }
        .basket-mobile-amount{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            &__text{
                font-weight: 600;
            }
        }
        .basket-order-up-icon{
            position: absolute;
            right: 0;
        }
    }
    .basket-general-up-up-info-add{
        grid-template-columns: 18% 20%;
    }
    .main{
        .section{
            .basket-end{
                margin-top: 50px;
                &__line{
                    width: 100%;
                }
                &-general{
                    flex-direction: column;
                    align-items: flex-start;
                    width: max-content;
                    &-pay{
                        margin-bottom: 30px;
                        margin-top: 20px;
                        width: 100%;
                        &-info{
                        display: flex;
                        justify-content: space-between;
                        }
                    }
                    &-active{
                        display: flex;
                        flex-direction: column;
                        &__button{
                            margin-left: 0;
                            margin-top: 30px;
                        }
                    }
                }
                &-text{
                    margin-top: 51px;
                    width: 100%;
                }
            }
            
        }
    }
/* end basket styles */
}
/* end max-width:970px */


/* max-width:768px */
@media screen and (max-width:768px){
/* general styles */
    body{
        font-size: 14px;
    }
    h1{
        font-size: 24px;
        max-width: 715px;
    }
    h2{
        font-size: 18px;
    }
    h3, h5{
        font-size: 16px;
    }
    .mobile-header{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .mobile-header-logo{
        width: 100px;
        &__image{
            width: 100%;
        }
    }
    .mobile-header-additional img{
        width: 25px;
    }
    .banner-970{
        display: none;
    }
/* end general styles */
    .banner-768{
        padding-top: 3.125em;
        padding-bottom: 3.125em;
        display: block;
    }

    .banner-text{
        width: 355px;
        .banner-image{
                img{
                    height: 119px;
                    width: 94px;
        }
    }
}
    .main-screen{
        .main-screen-block{
            margin-left: 1em;
            &-information{
                &__paragraph{
                    margin-top: 0.625em;
                }
            }
            &--button{
                margin-top: 1.875em;
            }
        }
        &__scroll{
            position: absolute;
            right: 50%;
            bottom: -21px;
            height: 31px;
            width: 31px;
            }
        }
    .catalog-main-block .catalog-general .catalog-general-section .catalog-main-card{
            &-content{
                height: 200px;
            }
    }
    .main-screen-block-information__header{
        max-width: 360px
    }

}

/* end max-width:768px */